<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SZMC Landmarks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/logo.png}">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/lightbox/css/lightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
            <img th:src="@{/assets/img/logo.png}" alt="">
            <h1>SZMC</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown"><a href="#" class="active"><span>Services</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/stations" class="active">Stations</a></li>
                        <li><a href="/lines">Lines</a></li>
                        <li><a href="/lineDetails">Line Details</a></li>
                        <li class="dropdown"><a href="#"><span>Rides</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="/rides/create">Board</a></li>
                                <li><a href="/rides/ongoingRides">Exit</a></li>
                                <li><a href="/rides">Ride Record</a></li>
                            </ul>
                        </li>
                    </ul>
            </ul>
        </nav><!-- .navbar -->

        <div class="header-social-links">
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2><span>CRUD Landmarks</span></h2>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<!-- ======= Main ======= -->
<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <a th:href="'/landmarks/?englishName=' + ${landmarkExitInfoDto.stationName}"
                   class="btn btn-outline-secondary"><i
                        class="bi bi-arrow-left"></i></a>
            </div>
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">New Landmark</h2>

                <form method="post" th:object="${landmarkExitInfoDto}">
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Station Name</label>
                        <div class="col-sm-8">
                            <input readonly class="form-control-plaintext" th:value="${landmarkExitInfoDto.stationName}"
                                   th:field="${landmarkExitInfoDto.stationName}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="exitGate" class="col-sm-4 col-form-label">Exit Gate <span
                                class="red-asterisk">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" id="exitGate" class="form-control" th:field="${landmarkExitInfoDto.exitGate}"
                                   required>
                            <p th:if="${#fields.hasErrors('exitGate')}" class="text-danger"
                               th:errors="${landmarkExitInfoDto.exitGate}"></p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="landmark" class="col-sm-4 col-form-label">Exit Gate <span
                                class="red-asterisk">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" id="landmark" class="form-control" th:field="${landmarkExitInfoDto.landmark}"
                                   required>
                            <p th:if="${#fields.hasErrors('landmark')}" class="text-danger"
                               th:errors="${landmarkExitInfoDto.landmark}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 offset-sm-4 d-grid">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-danger"
                               th:href="'/landmarks/?englishName=' + ${landmarkExitInfoDto.stationName}" role="button">Cancel</a>
                        </div>
                    </div>

                    <!-- Display global errors -->
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                                <ul>
                                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main><!-- End Main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright: <strong><span> Shenzhen Metro Group Co.,Ltd.</span></strong> All Rights Reserved.
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>

<!-- Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>

